<div class="min-h-screen flex items-center justify-center bg-gray-100 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center text-center p-4">
        <div class="w-full mx-auto">
            <p class="font-bold text-4xl text-gray-900 dark:text-white">Contact Us
            </p>
            <p class="text-gray-900 dark:text-white">We'd love to hear from you! Fill out the form below and we'll get back
                to you as soon as possible.</p>
        </div>
        <div class="w-full mx-auto mt-8 p-6 bg-white dark:bg-gray-800 rounded-lg shadow-lg">
            <form class="mx-w-lg mx-auto">
                <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white text-start">Your name</label>
                <input type="text" id="name" aria-describedby="helper-text-explanation"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-orange-500 dark:focus:border-orange-500 mb-4"
                    placeholder="Enter your name">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white text-start">Your email</label>
                <input type="email" id="email" aria-describedby="helper-text-explanation"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-orange-500 dark:focus:border-orange-500 mb-4"
                    placeholder="Enter your email">
                <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white text-start">Your
                    message</label>
                <textarea id="message" rows="4"
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-orange-500 dark:focus:border-orange-500 mb-4"
                    placeholder="write your message here..."></textarea>
                <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Send Message</button>

            </form>
        </div>
    </div>
</div>