<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-6 m-9">
    @for (product of products; track $index) {
    <div
        class="bg-white border border-gray-200 rounded-2xl dark:bg-gray-800 dark:border-gray-700 flex flex-col justify-between">
        <div [style]="`background-image: ${'url(' + product.image + ')'}; background-size: cover; background-position: center`"
            class="h-64 rounded-t-2xl

"></div>
        <div class="p-5">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{product.title}}</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{product.paragraph}}</p>
        </div>
    </div>
    }
</div>