<footer class="bg-gray-200 dark:bg-gray-800 flex justify-between p-4">
    <div class="flex items-center">
        <img src="asset 18.png" alt="logo" class="w-50">
    </div>
    <div class="flex items-center">
        <i class="dark:text-gray-200 text-gray-800 fa-brands fa-facebook text-2xl"></i>
        <i class="dark:text-gray-200 text-gray-800 fa-brands fa-twitter text-2xl"></i>
        <i class="dark:text-gray-200 text-gray-800 fa-brands fa-linkedin text-2xl"></i>
        <i class="dark:text-gray-200 text-gray-800 fa-brands fa-youtube text-2xl"></i>
    </div>
</footer>